/* Fonts */

@font-face {
    font-family: 'norsebold';
    src: url('fonts/ODIN/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/ODIN/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('fonts/roboto/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Layout */

body {
    display: flex;
    margin: 0;
    font-family: 'robotoregular',sans-serif;
}

a:visited {
    color: orange;
}

/* Left side layout */

#left-side {
    background-image: url('background_halie_west.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.logo-section {
    background-color: rgba(0, 0, 0, 0.5);
    height: 15vh;
    width: 40vw;
    margin-bottom: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo-img {
    width: 120px;
    height: 150px;
}

h1 {
    color: whitesmoke;
    font-family: 'norsebold',sans-serif;
    font-size: 100px;
}

h5 {
    color: white;
    font-weight: 400;
}

/* Right side layout */

#right-side {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

/*First section */

.first-section {
    background-color: antiquewhite;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Form section */

.form-section {
    padding: 50px;
    background-color: white;
    flex: 1;
}

.form-row {
    display: flex;
    margin-bottom: 40px;
    gap: 150px;
}

.form-col {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #5D6063;
}

/* Last section*/

.last-section {
    padding: 50px;
    background-color: wheat;
    flex: 1;
}

h2 {
    font-size: 28px;
}